
.inner-container {
  display: flex;
  gap: 2rem;
}

h1 {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.heading {
 display: flex;
gap: 2rem;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
margin-left: 2rem;
}

.heading-btn {
width: 7rem;

}

.btn {
  margin-bottom: 1.4rem;
}

.add-scores-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.add-scores-form input {
  border: 2px solid black;
  padding: 0.2rem;
}

.add-scores-btn {
  width: 6rem;
  align-self: flex-end;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  border-right:  2px solid black;
  border-bottom:  2px solid black;
  background: none;
}

.score-container {
  border: 2px solid black;
  width: 300px;
  margin-left: 1rem;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
}

.score-container li {
  list-style: none;
  border-bottom: 2px solid  rgb(164, 163, 163);
  padding: 0.5rem 0;
  margin-left: -40px;
  background-color: rgb(154, 154, 154);
 
}

.score-container li:nth-child(2n+1) {
  background: white;
}

.score-container li span {
  margin-left: 1rem;
}

